#comments {
  margin: 10px 0 0;
}

#comments .commentCard{
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

#comments .commentCard > h4{
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
  padding-bottom:4px;
}

#comments .commentCard .email{
  margin-top: 5px;
}

#comments .commentCard .comment{
  margin: 10px 0 5px;
}
