<section class="users">
  <h1>User</h1>

  <article class="user">

    <h2>{{user.username}}</h2>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.phone}}</p>
    <p>WebSite: {{user.website}}</p>
      <h3>Address:</h3>
        <p>Street: {{user.address.street}}</p>
        <p>Suite: {{user.address.suite}}</p>
        <p>City: {{user.address.city}}</p>
        <p>Zipcode: {{user.address.zipcode}}</p>
      <h3>Company:</h3>
        <p>Name: {{user.company.name}}</p>
        <P>{{user.company.catchPhrase}}</P>
        <p>{{user.company.bs}}</p>
        <div class="button">
          <a class="btn" (click)="back()" >Back</a>
        </div>
</article>
</section>
